<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
</head>
<body>
    
    <button onclick="fetchCommand()">Test</button>
    
    <a href="/logout">logout</a>

    <script>
        async function fetchCommand(){
            const rawResponse = await fetch('/test', {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({a: 1, b: 'Textual content'})
            });
            const content = await rawResponse.json();

            let h3 = document.createElement('h3');
            
            h3.textContent = content.name;

            document.getElementsByTagName('body')[0].append(h3)
        }
    </script>
</body>
</html>


<! --- List: Assigned Sets --->

<! --- Option to see images in the Assigned Sets --->

<! --- Button to play the set to see images in the Assigned Sets --->